* {
    padding: 0;
    border: 0;
    margin: 0;
}


body {
    background-image: url(/images/Universe.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container {
    margin: 40px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.h {
    color: antiquewhite;
    padding: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 2rem;
}

.H {
    color: antiquewhite;
    border: 5px solid pink;
    border-radius: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 3.5rem;
}

.vishnu {
    margin-bottom: 40px;
    display: flex;
    width: 56%;
    justify-content: center;
    position: relative;
    margin-left: 22%;
    margin-right: 22%;
}

.vishnu>img {
    width: 100%;
    height: auto;
    border: 4px solid azure;
    border-radius: 10%;
    opacity: 1;
    display: inline-block;
    transition: 0.5s ease;
    backface-visibility: hidden;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.6);
}

.vishnu .button {
    position: absolute;
    opacity: 0;
    transition: 0.5s ease;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFACAC;
    font-size: 1.3rem;
    padding: 8px 18px;
    border: 6px solid #FFBFA9;
    cursor: pointer;
    border-radius: 7px;
    text-align: center;
}

.vishnu:hover img {
    opacity: 0.4;
}

.vishnu:hover .button {
    opacity: 1;
}

.vishnu .button:hover {
    background-color: #FFD8A9;
    border-color: #F1A661;
}

.da {
    border: 2px solid chocolate;
    border-radius: 2%;
    margin-bottom: 40px;
    display: flex;
    width: 42%;
    justify-content: center;
    position: relative;
    margin-left: 29%;
    margin-right: 29%;
    background-color: antiquewhite;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.6);
}

.da>p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

.da .highlight {
    color: rgb(212, 99, 169);
    font-weight: bold;

}

.box {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.copy {
    font-family: cursive;
    color: azure;
    flex-basis: 100%;
    height: 0;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2px;
    text-shadow: 2px 2px 5px #fcf9f9;
}

.box .contact {
    border: 2px solid;
    border-radius: 20%;
    width: 35px;
    height: auto;
    margin: 2px;
}

/* /* media query starts  */


@media screen and (max-width: 2560px) {
    html {
        font-size: 190%;
    }

    .vishnu {
        width: 74%;
        margin-left: 13%;
        margin-right: 13%;
    }

    .da {
        width: 48%;
        margin-left: 26%;
        margin-right: 26%;
    }

    .box .contact {
        border: 3px solid rgb(0, 0, 0);
        width: 75px;
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 140%;
    }

    .vishnu {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .da {
        width: 48%;
        margin-left: 26%;
        margin-right: 26%;
    }

    .box .contact {
        border: 2px solid rgb(0, 0, 0);
        width: 55px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 100%;
    }

    .box .contact {
        border: 1.5px solid rgb(0, 0, 0);
        width: 40px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 88%;
    }

    .vishnu {
        width: 68%;
        margin-left: 16%;
        margin-right: 16%;
    }

    .da {
        width: 48%;
        margin-left: 26%;
        margin-right: 26%;
    }

    .box .contact {
        border: 2px solid rgb(0, 0, 0);
        width: 40px;
    }
}

@media screen and (max-width: 640px) {
    html {
        font-size: 80%;
    }

    .vishnu {
        width: 74%;
        margin-left: 13%;
        margin-right: 13%;
    }

    .da {
        width: 52%;
        margin-left: 24%;
        margin-right: 24%;
    }

    .box .contact {
        border: 2px solid rgb(0, 0, 0);
        width: 35px;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 69%;
    }

    .vishnu {
        width: 74%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .da {
        width: 54%;
        margin-left: 23%;
        margin-right: 23%;
    }

    .box .contact {
        border: 1px solid rgb(0, 0, 0);
        width: 32px;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 69%;
    }

    .vishnu {
        width: 78%;
        margin-left: 11%;
        margin-right: 11%;
    }

    .da {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .box .contact {
        border: 1px solid rgb(0, 0, 0);
        width: 32px;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 54%;
    }

    .H {
        border: 3px solid pink;
    }

    .vishnu {
        width: 74%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .da {
        width: 64%;
        margin-left: 18%;
        margin-right: 18%;
    }

    .box .contact {
        border: 1px solid rgb(0, 0, 0);
        width: 25px;
    }
}

/* media query ends */